:root {
    --primary: hsl(0, 0%, 96%);
    --secondary: hsl(171, 100%, 41%);
    --tertiary: #788585;
    --light-dark:hsl(171, 100%, 41%);
    --dark: hsl(0, 0%, 21%);
    --border-radius: .3rem;
  }
  @import "bulma/sass/utilities/_all.sass";
  @import "bulma/sass/grid/columns.sass";
  * {
    box-sizing: border-box;
  }
  #search-title {
    color:hsl(0, 0%, 96%);
  }
  .btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
  }
  
   .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
  
  .btn-inline {
    display: inline;
  }
  
  .btn-back {
    border-radius: var(--border-radius);
  
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--secondary);
    transform: translate(-1px, -1px);
    display: inline-block;
    width: auto;
    margin-top: 20px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
   .btn-back:hover {
 
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
  
  .hero {
    padding: 3% 4%;
    background-color: var(--dark);
    color: var(--primary);
  }
  
  .hero p {
    max-width: 75%;
  }
  
  .list-group {
    padding: 0;
    list-style: none;
  }
  